@model PaginatedList<Post>

<div class="containerMain" style="height: fit-content; padding-bottom: 20px;">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">All topics</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="UserProfiles" asp-action="GetAllProfiles" asp-route-pageNumber="1">All users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="UserProfiles" asp-action="GetBannedUsersList" asp-route-pageNumber="1"> Banned Users </a>
                </li>
            }
        </ul>
        <div>
            <div>
                <hr style="height: 3px;" />
            </div>
            <div style="float: right; margin-right:10px;">
                @if (!User.Claims.Any(x => x.Type == "MutedUser"))
                {
                    <a class="btn creationBtn" data-bs-toggle="collapse" href="#newPostForm" role="button" aria-expanded="false" aria-controls="newPostForm" onclick="document.getElementById('newPostForm').scrollIntoView();"> New Post</a>
                }
            </div>
            <div>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">
                            <a asp-controller="Home" asp-action="Index">Forum</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a asp-controller="Topics" asp-action="GetTopicPosts" asp-route-pageNumber="1" asp-route-topicId="@ViewBag.TopicId" asp-route-topicTitle="@ViewBag.TopicTitle"> @ViewBag.TopicTitle </a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="containerForPosts">
                @if (Model.Items.Any())
                {
                    <div>
                        <ul class="list-group list-group-hover">
                            @foreach (var post in Model.Items)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <input type="hidden" value="@post.Id">
                                            <input type="hidden" value="@post.TopicId">
                                            <input type="hidden" value="@post.AuthorId">
                                            @if(post.Author.DeletedUser)
                                            {
                                                <p style="margin-bottom: 5px; color: indianred;"> Deleted User </p>
                                            <p style="font-size: x-small; color: grey;"> @post.Author.UserRole</p>

                                            }
                                            else
                                            {
                                                <p style="margin-bottom: 5px;">@post.Author.Username</p>
                                            <p style="font-size: x-small; color: grey;"> @post.Author.UserRole</p>

                                            }
                                            @if (post.Author.UserPhoto != null && !post.Author.DeletedUser)
                                            {
                                                <img src="data:image/jpeg;base64,@post.Author.UserPhoto" class="img-fluid" style="height:70px;">
                                            }
                                            else
                                            {
                                                <img src="~/images/DefaultUserAvatar.jpg" class="img-fluid" style="height:70px;">
                                            }
                                            <p style="font-size: xx-small; color: grey; margin-top:5px;"> Registration date: @post.Author.RegistrationDate.ToString("dd.MM.yyyy")</p>
                                        </div>
                                        <div class="col-10">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span>@post.Header </span>
                                                    <span style="float:right; font-size: 10px; color: black;"> Published @post.PostPublishingTime.ToString("dd.MM.yyyy HH:mm")</span>
                                                    @if (post.WasEdited)
                                                    {

                                                        <span style="float:right; font-size: 10px; color: black;">Edited @post.LastEdited.Value.ToString("dd.MM.yyyy HH:mm")//</span>
                                                    }
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">@post.Text</p>
                                                    @if (post.Attachments.Any())
                                                    {
                                                        foreach (var att in post.Attachments)
                                                        {
                                                            <img src="data:image/jpeg;base64,@att.File" class="img-fluid" style="width: 100px;">
                                                        }
                                                    }
                                                </div>
                                                <div class="card-footer text-center">
                                                    <a class="btn btn-outline-info" asp-controller="Topics" asp-action="ViewPost" asp-route-pageNumber="1" asp-route-postId="@post.Id" asp-route-topicTitle="@ViewBag.TopicTitle">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div>
                        <p class="emptyListTag">No posts yet </p>
                    </div>
                }
                <div class="collapse" id="newPostForm" style="margin: 1% 20% 1% 20%">
                    <div class="card border border-light">
                        <div class="card-body text-center justify-content-center">
                            <form method="post" asp-controller="Topics" asp-action="CreatePost" enctype="multipart/form-data">
                                <input type="hidden" name="authorId" value="@User.Claims.FirstOrDefault(x=>x.Type == "UserId").Value" />
                                <input type="hidden" name="topicId" value="@ViewBag.TopicId" />
                                <input сlass="form-control" type="text" name="header" required maxlength="150" placeholder="Header" style="border-radius: 5px; padding-left: 5px; margin-bottom: 5px; width: 80%;" /> <br />
                                <textarea сlass="form-control" id="commentText" name="text" required maxlength="1000" placeholder="Please, enter..." style="border-radius: 5px; padding-left: 5px; margin-bottom: 5px; width: 80%;"> </textarea><br />
                                <input class="form-control" type="file" name="attachments" id="formFile" multiple accept=".jpg, .png" style="width:80%; text-align: center; margin:auto;"><br />
                                <input type="hidden" name="pageNumber" value="@Model.TotalPages" />
                                <input type="hidden" name="topicId" value="@ViewBag.TopicId" />
                                <input type="hidden" name="topicTitle" value="@ViewBag.TopicTitle" />
                                <button type="submit" class="btn btn-outline-info" id="sendCommentBtn" disabled style="margin-top: 5px;"> Ok </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @if(Model.Items.Any())
            {
                int prevPageLink = Model.HasPreviousPage ? Model.PageIndex - 1 : 1;
                int nextPageLink = Model.HasNextPage ? Model.PageIndex + 1 : Model.TotalPages;
                <div class="pagination justify-content-center mt-3">
                    @if (Model.HasPreviousPage)
                    {
                        <a asp-controller="Topics" asp-action="GetTopicPosts" asp-route-pageNumber="@(prevPageLink)" asp-route-topicId="@ViewBag.TopicId" asp-route-topicTitle="@ViewBag.TopicTitle" aria-label="Previous">
                            <span aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </span>
                        </a>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a style="height:20px; width: 20px; margin: 3px;" asp-controller="Topics" asp-action="GetTopicPosts" asp-route-pageNumber="@i" asp-route-topicId="@ViewBag.TopicId" asp-route-topicTitle="@ViewBag.TopicTitle" >@i</a>
                    }
                    @if (Model.HasNextPage)
                    {
                        <a asp-controller="Topics" asp-action="GetTopicPosts" asp-route-pageNumber="@(nextPageLink)" asp-route-topicId="@ViewBag.TopicId" asp-route-topicTitle="@ViewBag.TopicTitle"  aria-label="Next">
                            <span aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </span>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/js/imageValidatorMultiple.js" asp-append-version="true"></script>
    <script src="~/js/InputValidatorMultiple.js" asp-append-version="true"></script>
}

                                   