@model PaginatedList<Topic>

<div class="containerMain">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">All topics</a>
            </li>
            @if(User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="UserProfiles" asp-action="GetAllProfiles" asp-route-pageNumber="1">All users</a>
                </li>
            }
        </ul>
        <div>
            <div>
                <hr style="height: 3px;" />
            </div>
            @if(User.IsInRole("Admin"))
            {
                <div>
                    <a class="btn creationBtn" data-bs-toggle="modal" data-bs-target="#createNewTopic"> New Topic </a>
                </div>
            }
            <div>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a asp-controller="Home" asp-action="Index">Forum</a>
                        </li>
                    </ol>
                </nav>
            </div>
            @if(Model.Items.Any())
            {
                <div>
                    <ul class="list-group list-group-hover">
                        @foreach (var topic in Model.Items)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col" style="display:inline">
                                        @topic.Title
                                    </div>
                                    <div class="col" style="display:inline">
                                        <form method="get" asp-controller="Topics" asp-action="GetTopicPosts">
                                            <input type="hidden" name="pageNumber" value="1">
                                            <input type="hidden" name="topicId" value="@topic.Id">
                                            <input type="hidden" name="topicTitle" value="@topic.Title">
                                            <button type="submit" class="btn btn-outline-info" style="float:right;">View </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                int prevPageLink = Model.HasPreviousPage ? Model.PageIndex - 1 : 1;
                int nextPageLink = Model.HasNextPage ? Model.PageIndex + 1 : Model.TotalPages;
                <div class="pagination justify-content-center m-3">
                    @if (Model.HasPreviousPage)
                    {
                        <a asp-controller="Home" asp-action="ForumMainPage" asp-route-pageNumber="@(prevPageLink)" aria-label="Previous">
                            <span aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </span>
                        </a>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a style="height:20px; width: 20px; margin: 3px;" asp-controller="Home" asp-action="ForumMainPage" asp-route-pageNumber="@i">@i</a>
                    }
                    @if (Model.HasNextPage)
                    {
                        <a asp-controller="Home" asp-action="ForumMainPage" asp-route-pageNumber="@(nextPageLink)" aria-label="Next">
                            <span aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </span>
                        </a>
                    }
                </div>
            }
            else
            {
                <div>
                    <p class="emptyListTag">No topics yet </p>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="createNewTopic" tabindex="-1" aria-labelledby="createNewTopicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createNewTopicModalLabel">Please, enter the title </h1>
            </div>
            <div class="modal-body text-center">
                <form method="post" asp-controller="Topics" asp-action="CreateTopic">
                    <label>Topic Title</label><br />
                    <input type="text" name="topicTitle" required maxlength="100" style="width:90%; margin-top:5px;"/><br />
                    <input type="hidden" name="pageNumber" value="@Model.TotalPages" />
                    <button type="submit" class="btn btn-outline-info" style="margin-top: 10px; margin-right: 5px;"> Ok </button>
                    <button class="btn btn-outline-secondary" data-bs-dismiss="modal" style="margin-top: 10px;">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>